{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="mt-5">{{ question.question }}</h2>
    <div class="row mt-4">
        <div class="col d-flex">
            <div class="card flex-grow-1 border-success">
                <div class="card-body">
                    <p>{% if user_choice == "llm" %}
                        {{ question.llm }}
                    {% else %}
                        {{ question.friend }}
                    {% endif %}</p>
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card flex-grow-1">
                <div class="card-body">
                    <p>{% if user_choice == "llm" %}
                        {{ question.friend }}
                    {% else %}
                        {{ question.llm }}
                    {% endif %}</p>
                </div>
            </div>
        </div>
    </div>
    <form method="post" action="{{ url_for('compare', question_id=question.id) }}" class="mt-4 d-flex">
        <input type="hidden" name="chosen" value="{{ user_choice }}">
        <button type="submit" class="btn btn-primary mx-auto">Go On</button>
    </form>
</div>
{% endblock %}