{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <h2 class="card-title">{{ question.question }}</h2>
            <div class="alert alert-secondary" role="alert">
                <p id="response">
                    {% if response_type == "friend" %}
                        {{ question.friend }}
                    {% else %}
                        {{ question.llm }}
                    {% endif %}
                </p>
            </div>
            <form id="choice-form" method="post">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="choice" id="friend" value="friend" required>
                    <label class="form-check-label" for="friend">
                        Human
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="choice" id="llm" value="llm" required>
                    <label class="form-check-label" for="llm">
                        LLM
                    </label>
                </div>
                <input type="hidden" name="correct" value="{{ response_type }}">
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}